@charset 'UTF-8';

body{
    background-color: #131e4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    color: #314dc9;
}

h1#principal {
    text-align: center;
    color: brown;
}

h2{
    color: #6a82f0;
}